In [2]:
for i in range(1,6):
    print(i*str(i))

1
22
333
4444
55555

In [6]:
for i in range(1,6):
    print(i*chr(64+i))

A
BB
CCC
DDDD
EEEEE

In [19]:
# for i in range(1,6):
#     a=" "
#     for j in range(1,i+1):
#         a=a+str(j)
#     print(a)
a=""
for i in range(1,6):
    a=a+str(i)
    print(a)

1
12
123
1234
12345

In [22]:
a=" "
for i in range(65,70):
    a=a+chr(i)
    print(a)

 A
 AB
 ABC
 ABCD
 ABCDE

In [28]:
a=""
for i in range(1,6):
#     a=a+str(1*"*")
    print(i*"*")

*
**
***
****
*****

In [33]:
for i in range(1,6,):
    print((5-i)*" "+i*"*")

    *
   **
  ***
 ****
*****

In [37]:
a=""
for i in range(1,6):
    a=a+str(i)+" "
    print(a.center(10," "))

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [39]:
a=""
for i in range(65,70):
    a=a+chr(i)+" "
    print(a.center(10," "))

    A
   A B
  A B C
 A B C D
A B C D E

In [45]:
a=" "
for i in range(1,6):
    a=" ".join(i*str(i))
    print(a.center(10))

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [89]:
a=""
for i in range(5,0,-1):
    a=" ".join((6-i)*chr(64+i))
    print(a.center(10))

    E
   D D
  C C C
 B B B B
A A A A A

In [101]:
a=""
for i in range(1,10,2):
    a=" ".join(str(i*"*"))+" "
    print(a.center(25)+" ")

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *

In [141]:
for i in range(5,0,-1):
    a=""
    for j in range(1,i+1):
        a=a+str(j)
    print(a)

12345
1234
123
12
1

In [159]:
a=""
for i in range(5,0,-1):
    a=a+chr(64+i)+" "
    print(a)

E
E D
E D C
E D C B
E D C B A

In [9]:
a=""
for i in range(5,0,-1):
    a=a+str(i)+" "
    print(a)

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [77]:
for i in range(5,0,-1):
    a=" "
    for j in range(5,5+i):
        a=a+str(j)+" "
    print(a)

 5 6 7 8 9
 5 6 7 8
 5 6 7
 5 6
 5

In [81]:
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [97]:
for i in range(1,6):
    print((5-i)*" "+i*"*")

    *
   **
  ***
 ****
*****

In [101]:
for i in range(5,0,-1):
    print((5-i)*" "+i*"*")

*****
 ****
  ***
   **
    *

In [106]:
for i in range(1,6):
    if i==5:
        for j in range(5,0,-1):
            print((5-j)*" "+j*"*")
    else:
        print((5-i)*" "+i*"*")

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [77]:
for i in range(5,0,-1):
    if i==5:
        for j in range(1,6):
            print(j*"*")
    else:
        print(i*"*")

*
**
***
****
*****
****
***
**
*

In [7]:
for i in range(1,6):
    if i==1:
        for j in range(5,0,-1):
            print((5-j)*" "+j*"*")
    else:
        print((5-i)*" "+i*"*")

*****
 ****
  ***
   **
    *
   **
  ***
 ****
*****

In [3]:
a=" "
for i in range(1,10,2):
    if i==1:
        for j in range(10-1,0,-2):
            a=j*"*"
            print(a.center(30," "))
    else:
        a=i*"*"
        print(a.center(30," "))

          *********
           *******
            *****
             ***
              *
             ***
            *****
           *******
          *********

In [6]:
for i in range(1,6):
    print(i*"*"+(6-(i+1))*" "+(6-(i+1))*" "+i*"*")

*        *
**      **
***    ***
****  ****
**********

In [17]:
for i in range(5,0,-1):
    print(i*"*"+(6-(i+1))*" "+(6-(i+1))*" "+i*"*")

**********
****  ****
***    ***
**      **
*        *

In [7]:
for i in range(5,0,-1):
    if i==1:
        for i in range(5,0,-1):
            print(i*"*"+(6-(i+1))*" "+(6-(i+1))*" "+i*"*")
    else:
        print(i*"*"+((i+1))*" "+(6-(i+1))*" "+i*"*")

**********
****  ****
***    ***
**      **
**********
****  ****
***    ***
**      **
*        *

In [4]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [5]:
for i in range(5,0,-1):
    if i==1:
        for j in range(1,6):
            print(j*"*"+(6-(j+1))*" "+(6-(j+1))*" "+j*"*")
    else:
        print(i*"*"+(6-(i+1))*" "+(6-(i+1))*" "+i*"*")

**********
****  ****
***    ***
**      **
*        *
**      **
***    ***
****  ****
**********

In [12]:
for i in range(0,6):
    print(i*"*"+(6-(i+1))*" "+(6-(i+1))*" "+i*"*")
    if i==5:
        for i in range(5,0,-1):
             print(i*"*"+(6-(i+1))*" "+(6-(i+1))*" "+i*"*")

*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *

In [20]:
for i in range(1,6):
    a=""
    if i==6-1:
        a=a+i*"*"
    else:
        for j in range(1, i+1):
            if j==1 or j==i:
                a=a+"*"
            else:
                a=a+" "
    print(a)

*
**
* *
*  *
*****

In [25]:
for i in range(1,6):
    a=""
    if i==6-1:
        a=a+i*"*"
    else:
        for j in range(1, i+1):
            if j==1 or j==i:
                a=a+"*"
            else:
                a=a+" "
    print((6-i)*" "+a)

     *
    **
   * *
  *  *
 *****

In [33]:
for i in range(6-1,0,-1):
    data=""
    if i==1:
        for k in range(1,6):
            data = ""
            if k == 6 - 1:
                data = data + k * "*"
            else:
                for j in range(1, k + 1):
                    if j == 1 or j == k:
                        data = data + "*"
                    else:
                        data = data + " "
            print((6- k-1) * " " + data)
    elif i==6-1:
        data=data+i*"*"
        print((6-i-1)*" "+data)

    else:
        for j in range(1, i+1):
            if j==1 or j==i:
                data=data+"*"
            else:
                data=data+" "
        print((6-i-1)*" "+data)

*****
 *  *
  * *
   **
    *
   **
  * *
 *  *
*****

In [ ]:
for i in range(1,6*2,2):
    if i==1 or i==6*2-1:
        star=i*"*"

    else:     
        star="*"+(i-2)*" "+"*"
    print(star.center(20," "))